/* navbar */
.navItem{
    border-radius: 22px;
    transition: background-color 0.5s, color 0.4s
}
.navItem:hover {
    color :  #de4333;
    background-color: #cff7d5
}
.navActive{
    border-radius: 22px;
    color :  white;
    background : #f66464
}
/* .navActive{
    border-radius: 22px;
    color :  white;
    background : #696d23
} */
/* Category */
.cateItem{
    border-radius : 14px;
    background : #f9f9f7;
    /* cursor: pointer; */
    vertical-align: center;
    text-align: center;
    transition: background-color 0.5s, color 0.4s
}
.cateItem:hover {
    color :  white;
    background-color: #f88e8e
}
.cateActive{
    border-radius: 14px;
    cursor: pointer;
    vertical-align: center;
    text-align: center;
    color :  white;
    background : #f66464
}
/* button hover */
.redButton:hover {
    color :  #de4333;
}
.browButton:hover {
    color :  #5f5438;
}

/*Bounce button*/
@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

.kreep {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 1s ease 2s infinite alternate;
}
/*Bounce arrow*/

.arrow {
  text-align: center;
  /* margin: 8% 0; */
}
.bounce {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(10px);
  }
}

/* Envolope border */
.envelopeBorder {
  border-bottom: 7px solid transparent;
  border-image: 15 repeating-linear-gradient(-45deg,
   red 0, red 0.5em,
   transparent 0, transparent 1em,
   #58a 0, #58a 1.5em,
   transparent 0, transparent 2em);  
}